*{
    /* Polices et marges */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* Taille minimum du body */
    min-width: 320px;
    align-items: center;
    justify-content: center;
}
html,body
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.fa-1x {
    font-size: 1.5em;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 100;

    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    &::after {
        content: "";
        z-index: 100;
        width: 75px;
        height: 75px;
        border: 15px solid #dddddd;
        border-top-color: #a55cdc;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  header {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 6px;
    box-shadow: rgba(0, 0, 0, 0.315) 0px 2px 8px;
    position: relative;


}

.headerback {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__arrow {
        position: absolute;
        left:1em;
        top: 1.5em;
        font-size: 1.3em;
        color: #353535;
    }
}

#logo {
    width: 180px;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

form {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: #353535;
    background-color: #eaeaea;
    font-size: 1.2em;

    div {
        text-align: center;
    }
}

input {
    /* Réglages CSS du texte input sur la recherche */
    border: 0px;
    background-color: #eaeaea;
    color: #353535;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
}

::placeholder {
    color: #353535;
    font-weight: 700;
    font-size: 0.9em;
}

.explore {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    gap: 1em;

    h1 {
        font-weight: 900;
    }

    p {
        font-weight: 100;
    }

    .button {
        background:linear-gradient(to bottom, #dd6fdb 5%, #a55cdc 100%);
        background-color:#a55cdc;
        border-radius:28px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:1em;
        margin: 1.5em;
        padding: 1.2em 1em;
        text-decoration:none;
        font-weight: 600;
        width: 250px;
        align-self: center;

        &:hover {
            background:linear-gradient(to bottom, #C57AE1 5%, #B274E1 100%);
            background-color:#C57AE1;
        }

        &:active {
                position:relative;
                top:1px;
            }

    }

}

.guide {
    padding: 2em 1em;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;


    &__container {
        margin: auto;
        position: relative;
        display: flex;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        counter-reset: compteListe;
        display: flex;
        gap: 2em;
        margin: auto;
    }

    &__block {
        padding: 1.5em;
        margin: 1em 0 1em 0.75em;
        box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,.125);
        border-radius: 1.25em;
        background-color: #f6f6f6;
        display: flex;
        position: relative;

        &:before {
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: #9356dc;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            left: -0.75rem;
        }
    }

    &__icon {
        margin-right: 1em;
        color: #7e7e7e;
    }
}

.restaurants {

    padding: 2em 1em;
    background-color: #f7f7f7;

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto;
        position: relative;
        max-width: 1400px;
    }

    &__proposal {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    &__img {
        height: 9em;
        width: 100%;
        border: 0 solid transparent;
        box-shadow: none;
        object-fit: cover;
        z-index: 1;
    }

    &__inside {
        background-color: #F6F6F6;
        margin-top: -50px;
        padding: 1em;
        border-radius: 2em 2em 0 0;
        z-index: 2;
        position: relative;
        margin-bottom: -2em;
    }

    &__type {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 0.9em;
        position: relative;
        padding-bottom: 0.25em;

        &::after {
            content: "";
            position: absolute;
            height: 0.15em;
            width: 2em;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__bigtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }
    &__smalltitle {
        font-family: 'Shrikhand';
        font-size:1.5em;
        font-weight: 500;
    }

    &__meal {
        background-color: #FFFFFF;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em 1em 1em 1em;
        font-size: 0.9em;
        font-weight: 100;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    }
}

.meal {

    &__title {
        font-weight: 600;
    }

    &__subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.4em;
        font-size: 0.8em;
    }

    &__span {
        font-size: 0.9em;
        font-weight: 600;
    }
}

.card {

    display: flex;
    flex: 45%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    position: relative;
    text-decoration: none;
    color: black;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.103);

    &__img {
        height: 9em;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1em 1em 0 0;
        box-shadow: none;
        object-fit: cover;
    }

    &__box {
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__heart {
        position: absolute;
        background-color: #ffff;
        transition: opacity 1000ms ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 0%;
        }

        &--pink {
            font-weight: 900 !important;
            background: linear-gradient(#ff79da, #9356dc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.footer {
    background-color: #353535;

        &__container {
            display: flex;
            flex-direction: column;
            padding: 2em 1em;
            position: relative;
            max-width: 1400px;
            margin: auto;
        }

        &__list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 0.7em;
        }

        &__page {
            color: #ffffff;
            text-decoration: none;
        }

        &__icon {
            width: 1.2em;
            margin-right: 0.5em;
        }

        img {
            filter: invert(96%) sepia(99%) saturate(1%) hue-rotate(187deg) brightness(103%) contrast(100%);
            width: 6em;
            margin-bottom: 1.2em;
        }

    }
    
           @media screen and (max-width: 768px) {
    
            /* Media queries pour les smartphones jusqu'à 768 px */
            header {
                display:flex;
                align-items: center;
                flex-direction: column;
                height: 100%;
                margin: auto;
                padding-top: 25px;
                padding-bottom: 6px;
                box-shadow: rgba(0, 0, 0, 0.315) 0px 2px 8px;
                position: relative;


            }

            .headerback {
                display: flex;
                flex-direction: row;
                justify-content: center;

                &__arrow {
                    position: absolute;
                    left:1em;
                    top: 1.5em;
                    font-size: 1.3em;
                    color: #353535;
                }
            }

            #logo {
                width: 180px;
            }

            h2 {
                margin-top: 1em;
                margin-bottom: 1em;
            }

            form {
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                color: #353535;
                background-color: #eaeaea;
                font-size: 1.2em;

                div {
                    text-align: center;
                }
            }

            input {
                /* Réglages CSS du texte input sur la recherche */
                border: 0px;
                background-color: #eaeaea;
                color: #353535;
                font-weight: 700;
                font-size: 0.9em;
                text-align: center;
            }

            ::placeholder {
                color: #353535;
                font-weight: 700;
                font-size: 0.9em;
            }

            .explore {
                background-color: #f7f7f7;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1.2em;
                padding-top: 2.5em;
                padding-bottom: 2.5em;
                gap: 1em;

                h1 {
                    font-weight: 900;
                }

                p {
                    font-weight: 100;
                }

                .button {
                    background:linear-gradient(to bottom, #dd6fdb 5%, #a55cdc 100%);
                    background-color:#a55cdc;
                    border-radius:28px;
                    display:inline-block;
                    cursor:pointer;
                    color:#ffffff;
                    font-family:Arial;
                    font-size:1em;
                    margin: 1.5em;
                    padding: 1.2em 1em;
                    text-decoration:none;
                    font-weight: 600;
                    width: 250px;
                    align-self: center;
    
                    &:hover {
                        background:linear-gradient(to bottom, #C57AE1 5%, #B274E1 100%);
                        background-color:#C57AE1;
                    }
    
                    &:active {
                            position:relative;
                            top:1px;
                        }

                }

            }

            .guide {
                padding: 2em 1em;

                &__container {
                    margin: auto;
                    position: relative;
                }

                &__list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    counter-reset: compteListe;
                }

                &__block {
                    padding: 1.5em;
                    margin: 1em 0 1em 0.75em;
                    box-shadow: 0.25em 0.25em 0.5em rgba(0,0,0,.125);
                    border-radius: 1.25em;
                    background-color: #f6f6f6;
                    display: flex;
                    position: relative;

                    &:before {
                        counter-increment: compteListe 1;
                        content: counter(compteListe) " ";
                        background: #9356dc;
                        height: 1.5rem;
                        width: 1.5rem;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        position: absolute;
                        left: -0.75rem;
                    }
                }

                &__icon {
                    margin-right: 1em;
                    color: #7e7e7e;
                }
            }

            .restaurants {

                padding: 2em 1em;
                background-color: #f7f7f7;

                &__container {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    position: relative;
                }

                &__proposal {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                }

                &__img {
                    height: 9em;
                    width: 100%;
                    border: 0 solid transparent;
                    box-shadow: none;
                    object-fit: cover;
                    z-index: 1;
                }

                &__inside {
                    background-color: #F6F6F6;
                    margin-top: -50px;
                    padding: 1em;
                    border-radius: 2em 2em 0 0;
                    z-index: 2;
                    position: relative;
                    margin-bottom: -2em;
                }

                &__type {
                    text-transform: uppercase;
                    font-weight: 200;
                    font-size: 0.9em;
                    position: relative;
                    padding-bottom: 0.25em;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 0.15em;
                        width: 2em;
                        background-color: #99e2d0;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }

                &__bigtitle {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1em;
                }
                &__smalltitle {
                    font-family: 'Shrikhand';
                    font-size:1.5em;
                    font-weight: 500;
                }

                &__meal {
                    background-color: #FFFFFF;
                    padding: 1em;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    border-radius: 1em 1em 1em 1em;
                    font-size: 0.9em;
                    font-weight: 100;
                    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                }
            }

            .meal {

                &__title {
                    font-weight: 600;
                }

                &__subtitle {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 0.4em;
                    font-size: 0.8em;
                }

                &__span {
                    font-size: 0.9em;
                    font-weight: 600;
                }
            }

            .card {

                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 1em;
                position: relative;
                text-decoration: none;
                color: black;
                box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.103);

                &__img {
                    height: 9em;
                    width: 100%;
                    border: 0 solid transparent;
                    border-radius: 1em 1em 0 0;
                    box-shadow: none;
                    object-fit: cover;
                }

                &__box {
                    padding: 1rem;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                &__text {
                    display: flex;
                    flex-direction: column;
                }

                &__heart {
                    position: absolute;
                    background-color: #ffff;
                    transition: opacity 1000ms ease-in-out;

                    &:hover {
                        cursor: pointer;
                        opacity: 0%;
                    }

                    &--pink {
                        font-weight: 900 !important;
                        background: linear-gradient(#ff79da, #9356dc);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .footer {

                    &__container {
                        display: flex;
                        flex-direction: column;
                        background-color: #353535;
                        padding: 2em 1em;
                        position: relative;
                    }

                    &__list {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        gap: 0.7em;
                    }

                    &__page {
                        color: #ffffff;
                        text-decoration: none;
                    }

                    &__icon {
                        width: 1.2em;
                        margin-right: 0.5em;
                    }

                    img {
                        filter: invert(96%) sepia(99%) saturate(1%) hue-rotate(187deg) brightness(103%) contrast(100%);
                        width: 6em;
                        margin-bottom: 1.2em;
                    }

                }
            }